@import "tailwindcss";
@plugin "tailwindcss-animate";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  --color-brand-gold: #D4AF37; /* Restored to Gold */
  --color-brand-black: #0A0A0A;
  --color-brand-gray: #FAFAFA;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-brand-black font-sans antialiased selection:bg-brand-black selection:text-white overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight font-medium;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
